
<div  class="card  d-inline-block m-5 p-2  .container" style="width: 18rem; ">
    <div>
      <img class="card-img-top img-rounded " style="height: 18rem;" src="{{prod!.url}}" alt="Card image cap" >
    </div>
    <div class="card-body">
      <h5 class="card-title">{{prod!.name}}</h5>
      <h5 class="card-title">{{prod!.price}}</h5>
      <p class="card-text">{{prod!.description}}</p>
      
      <select class="d-block" width="" #count>
        
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
      </select>
      <br>
      <button class="btn btn-primary" (click)="addProductToCart(prod!.id,count.value)">Add To Cart</button>
    </div>
  </div>